/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(52, 40, 89);
    border: 1px solid transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: rgb(124 80 255);
}

::selection {
    color: white;
    background: rgb(124 80 255);
}



body {
    font-family: Ubuntu, sans-serif !important;
    color: #cad6d9 !important;
    background: rgb(52, 40, 89) !important;
    background: linear-gradient(0deg, rgba(52, 40, 89, 1) 0%, rgba(19, 31, 42, 1) 100%) !important;
    padding: 10px !important;
    min-height: calc(100vh) !important;
}

.panos-search {
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    height: 30px;
    color: white;
    transition: all 0.2s;
    padding: 0px;
    margin: 0px;
    width: 0px;
    border: 0px;
}

.panos-search.active {
    padding: unset;
    margin: unset;
    padding: 10px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none !important;
}

.logo,
.logo:hover {
    letter-spacing: 5px;
    font-weight: bold;
    text-decoration: none !important;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.panos-tags {
    overflow: hidden;
    height: 25.5px;
}

.panos-tag,
.panos-tag :hover {
    background: rgb(86 58 168);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10em;
    min-width: 25.5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 9px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    height: 20px;
    color: #cad6d9;
    text-decoration: none;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem !important;
}

.nav-link {
    color: #cad6d9;
    display: block;
    padding: 0.5rem 1rem !important;
}

.nav-link:hover {
    color: rgb(124 80 255);
}

.nav-link.active {
    color: white;
}

.panos-card-show-more {
    font-size: 12px;
    color: #cad6d9;
    float: right;
    text-decoration: none;
}

.panos-card-show-more:hover {
    color: white;
    text-decoration: none;
}

.panos-card-show-more:active {
    color: white;
    text-decoration: none;
}


.panos-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    width: 240px;
    margin: 10px;
    padding: 15px;
    height: 330px;
    transition: all 0.2s;
    cursor: pointer;
}
.panos-card-hovered {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    width: 240px;
    margin: 10px;
    padding: 15px;
    height: 330px;
    transition: all 0.2s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 5px black;
    width: 260px;
    height: 350px;
    margin: 0px;
}
.panos-card:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 5px black;
    width: 260px;
    height: 350px;
    margin: 0px;
}

.panos-card.active {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    width: 100% !important;
    margin: 10px;
    padding: 10px;
    height: 100vh !important;
    min-height: 330px;
    transition: all 0.2s;
    margin-left: 7px;
    cursor: unset;
}

.panos-card-edit {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    width: 100% !important;
    margin: 10px;
    padding: 10px;
    height: 100vh !important;
    min-height: 330px;
    transition: all 0.2s;
    margin-left: 7px;
    cursor: unset;
}

@media only screen and (max-width: 550px) {
    .panos-card {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 1em;
        width: calc(100% - 20px);
        margin: 10px;
        padding: 15px;
        height: 330px;
        transition: all 0.2s;
        cursor: pointer;
    }

    .panos-card:hover {
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0px 0px 5px black;
        width: 100%;
        height: 350px;
    }

    .panos-card.active {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 1em;
        width: 100% !important;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        height: 100vh !important;
        min-height: 330px;
        transition: all 0.2s;
        cursor: unset;
    }
}





.footer-copyrights {
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    height: 60px;
    text-align: center;
}

.panos-card-image {
    width: calc(100%);
    height: calc(60%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    object-fit: cover;
    object-position: top;
}

.panos-card-image.active {
    width: unset !important;
    height: calc(60%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    margin-left: -10px !important;
    object-fit: scale-down;
    object-position: top;
}

.page {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.2s;
}

h5 {
    font-size: 14px;
    color: white;
}

h6,
h2 {
    font-size: 12px !important;
}

a,
.btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

img {
    max-width: 100%;
}

button {
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-align: cente;
    width: 250px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    border-radius: 2em!important;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.767) !important;
}
button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 15px black;
    color:white!important;
}

.edit-control {
    background: rgba(0, 0, 0, 0.3);
    border: 0px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.397);
    font-size: small;
    padding: 5px;
    width:100%;
}
textarea.edit-control {
    padding: 15px;
}

.edit-control:focus {
    outline: none;
}

tr,td,th{
    text-align: center;
    font-size: small;
}


